/* ===== NAVBAR GENERAL ===== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background: #5B0995;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

.navbar-logo {
  width: 90px;
  height: auto;
}

.navbar-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar-links a:hover {
  opacity: 0.8;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e3c7ff;
}
